*{margin:0px;padding:0px;}
body{
	font-size:16px;
	font-family:"Helvetica Neue",Helvetica,Arial;
	background-color:#f5f5f5;
	line-height:1.5;
	vertical-align: baseline;
	text-align:center;
}
input,h1,div{
	display:block;
}
/*店名*/
.logo a{
	font-size:1em;
	font-weight:bold;
	line-height:20px;
	color:#b40000;
}
a{
	/*color:#4298ba;*/
	color:black;
	text-decoration:none;
}
p{
	display:block;
	-webkit-margin-before:1em;
	-webkit-margin-after:1em;
	-webkit-margin-start:0px;
	-webkit-margin-end:0px;
}
.wrapper{

	
}
.page{
	width:960px;
	margin:50px auto 0px;
}

.logo{
	text-align:center;
	width:190px;
	height:30px;
	margin:0px auto 30px;

}
.bd{
	width:400px;
	margin:30px auto;
	text-align:center;
	
}

.form-item{
display:block;
	height:50px;
	margin-bottom:20px;
	position:relative;
}	
/* webkit 浏览器*/
.form-item ::-webkit-input-placeholder { color:#ccc; }
/* 火狐浏览器 */
.form-item ::-moz-placeholder { color:#888; }
.form-item input{
	float:right;
	line-height:30px;
	display:block;
	width:200px;
	padding:6px 18px;
	border:1px solid #aaa;
	font-size:16px;
	height:30px;
	border-radius:4px;
	box-shadow:  0 0 3px rgba(0,0,0,0.1);
	margin-left:10px;
	behavior: url(PIE-2.0beta1/PIE.htc);
		position:relative;
		z-index:10;
}
.form-item span{
	line-height:50px;
}
#link-normal-sigin{
	color:#b40000;
	font-size:1.1em;

}
#link-normal-sigin,#link-special-sigin{
	font-weight:bold;
}
input:focus{
	outline:none;
	border:1px solid #bd4f4f;
	box-shadow:  0 0 3px #bd4f4f;
		-moz-box-shadow: 0px 0px 3px #bd4f4f; /* Firefox */
		-webkit-box-shadow: 0px 0px 3px #bd4f4f; /* Safari 和 Chrome */
		behavior: url(PIE-2.0beta1/PIE.htc);
		position:relative;
		z-index:10;
}
.form-button{
	margin:30px 0 20px 0;
}
.sigin-section{
border-top:2px solid #b40000;
	display:block;
	position:relative;
	background:white;
	width:360px;
	height:270px;
	padding:79px 30px 15px ;
	margin-top:30px;
	box-shadow:  0 0 5px rgba(0,0,0,0.2);
	padding-top:60px;
behavior: url(PIE-2.0beta1/PIE.htc);
		position:relative;
		z-index:10;
}
.normal-sigin{
	display:block;

}
.special-sigin{
	display:none;
}

.forget-pw{
	float:right;
	color:#999;
	font-size:0.8em;

	padding-bottom:10px;
}
.desc{
	margin-top:20px;
		color:#999;
		font-size:0.8em;
}
.desc a{
	color:#999;
}
.btn-submit{
	width:318px;
	padding:10px;
	margin:0;
	border:none;
	background:#b40000;
	font-size:20px;
	font-weight:bold;
	color:#fff;
	cursor:pointer;
	text-shadow:0px -1px 0px rgba(0,0,0,0.3);
	behavior: url(PIE-2.0beta1/PIE.htc);
		position:relative;
		z-index:10;
}
.btn-submit:hover{
	background:#d40000;
}
.btn{
	border-radius:5px;
		-moz-border-radius:5px; /* Firefox */
		-webkit-border-radius:5px; /* Safari 和 Chrome */
		behavior:url(PIE-2.0beta1/PIE.htc);
		position:relative;
		z-index:10;
}
.id{
	display:block;
	height:40px;
}
.identity{
	margin-left:25px;
	float:left;
	line-height:16px;
}
.identity_cont{
	margin-left:5px;
	float:left;
	line-height:16px;
}