*{margin:0px;padding:0px;}
html,body{
	height:100%;
}
body{
	font-size: 12px;
	font-family:"Lucida Sans Unicode","Lucida Grande", Tahoma,Arial, Helvetica, sans-serif;
	background:#fff;;
	color:#444;
	line-height: 20px;
	vertical-align: baseline; 
	margin: 0px;
}
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6{
    border: 0px;
    padding: 0px;
    font-size: 100%;
    margin: 0px;
    font-family:"微软雅黑";
    -webkit-font-smoothing: subpixel-antialiased;
    font-weight: normal;
}
input,h1,div{
	display:block;
}
a, a:link {
    text-decoration: none;
    color: #4F608C;
}
ul, li {
    list-style-type: none;
}
/*header*/
.header{
	background-color:#2b2e33;
	width:100%;
}