*{margin:0px;padding:0px;}
html,body{
	height:100%;
}
body{
	font-size: 12px;
	font-family:"Lucida Sans Unicode","Lucida Grande", Tahoma,Arial, Helvetica, sans-serif;
	background:#eff2f6;
	color:#444;
	line-height:20px;
	vertical-align:baseline; 
	margin:0px;
}
html, body, div, span, h1, h2, h3, h4, h5, h6{
    border:0px;
    padding:0px;
    font-size:100%;
    margin:0px;
    font-family:"微软雅黑";
    -webkit-font-smoothing:subpixel-antialiased;
    font-weight:normal;
}
input,h1,div,span{
	display:block;
}
a, a:link {
    text-decoration:none;
    color:#75b2f1;
}
ul, li {
    list-style-type:none;
}
.clear{
	clear:both;
}
.btn{
	font-size:13px;
	line-height:18px;
	border-radius:4px;
	width:60px;
	height:30px;
	float:left;
	margin:0px 10px 10px;
}
/*header*/
.header{
	background-color:#2b2e33;
	width:100%;
	height:80px;
	color:#fff;
	box-shadow:  0 0 3px rgba(0,0,0,0.5);
	behavior:url(PIE-2.0beta1/PIE.htc);
		position:relative;
		z-index:10;
}
.header h1{
	float:left;
	font-size:30px;
	color:#e5e5e5;
	line-height:70px;
	margin-left:30px;
}
.header .rightTop{
	width:200px;
	float:right;
	margin-top:10px;
	margin-right:20px;
	text-align:right;
	color:#e5e5e5;
}
.header .rightTop #user{
	float:right;
	display:block;
	color:#75b2f1;
}
/*content*/

.content{
	height:100%;
}
.content .leftcontent,.content .rightcontent{
	float:left;
}
/*left*/
.tab{
	display:none;
}
.selected{
	display:block;
}
.leftcontent{
	background-color:#2b2e33;
	width:15%;
	min-height:100%;
	color:#a5a5a5;
	box-shadow:  0 0 3px rgba(0,0,0,0.5);
	behavior: url(PIE-2.0beta1/PIE.htc);
		position:relative;
		z-index:10;
}
.leftcontent ul li{
	line-height:60px;
	padding:0px 10px;
}
.leftcontent ul li:hover{
	background:#5f5f5f;
}
#select{
	width:6px;
	height:60px;
	background:#75b2f1;
}
/*right*/
.rightcontent{width:85%;}
.rightcontent .tab{
	width:92%;
	background:#fff;
	border:3px solid #e7e7e7;
	margin:30px auto;
}
.rightcontent .list{
	width:80%;
	margin:0 auto;
}
.rightcontent .list li{
	line-height:30px;
	margin:20px 0px;;
}
.title h1{
	width:90%;
	margin:0 auto;
	color:#3190eb;
	font-size:20px;
	line-height:50px;
	border-bottom:2px solid #3190eb;
}
.formcontent{
	width:80%;
	margin:30px auto;
}
/*form-items*/
.form-item{
	width:100%;
	display:block;
	height:50px;
	margin-bottom:20px;
	position:relative;
}
.textarea{
	width:100%;
	display:block;
	height:150px;
	margin-bottom:20px;
	position:relative;
}
.textarea textarea{
	line-height:20px;
	width:55%;
	padding:6px 18px;
	border:1px solid #aaa;
	font-size:16px;
	border-radius:4px;
	box-shadow:0 0 3px rgba(0,0,0,0.1);
	margin-left:10px;
	behavior: url(PIE-2.0beta1/PIE.htc);
		position:relative;
		z-index:10;
}
/* webkit 浏览器*/
.form-item ::-webkit-input-placeholder { color:#ccc; }
/* 火狐浏览器 */
.form-item ::-moz-placeholder { color:#888; }
.form-item .forminput{
	float:left;
	line-height:20px;
	display:block;
	width:55%;
	padding:6px 18px;
	border:1px solid #aaa;
	font-size:16px;
	height:20px;
	border-radius:4px;
	box-shadow:0 0 3px rgba(0,0,0,0.1);
	margin-left:10px;
	behavior:url(PIE-2.0beta1/PIE.htc);
		position:relative;
		z-index:10;
}
.form-item .sex{
	line-height:32px;
	float:left;
	height:32px;
	width:15px;
	margin-left:20px;
}
.form-item .sex_cont{
	text-align:left;
}
.form-item span{
	float:left;
	text-align:right;
	width:15%;
	line-height:32px;
}
.form-item .forminput:focus{
	outline:none;
	border:1px solid #3190eb;
	box-shadow: 0 0 3px #3190eb;
		-moz-box-shadow: 0px 0px 3px #3190eb; /* Firefox */
		-webkit-box-shadow: 0px 0px 3px #3190eb;/* Safari 和 Chrome */
		behavior: url(PIE-2.0beta1/PIE.htc);
		position:relative;
		z-index:10;
}
.formbutton{
	height:80px;
	margin-left:30%;
}